/* Faux Two column Adjustments for Blog */

@media only screen and (min-width: 981px) {
	.et_pb_posts .et_pb_post img,
	.et_pb_posts .et_overlay {
		width: 400px;
		min-width:400px;
		height:250px;
		object-fit:cover!important;
		float: left;
		left: 0;
		margin-right: 25px;
	}
	body.rtl .et_pb_posts .et_pb_post img,
	body.rtl .et_pb_posts .et_overlay {
		float: right;
		right: 0;
		margin-left: 25px;
		margin-right: 0;
	}
}

.et_pb_post .post-meta a{
	background-color:#689031 !important;
	color:#ffffff!important;
	padding: 0px 11px 0px 11px;
	font-size:15px!important;
	font-weight:500!important;
}

/*Injected Section Styles */
.insta-blog {
	margin-bottom:50px;
}

.blog-img-injection{
	margin-bottom:50px;
}